:root{--gato:#978bc0;

}

h3{
color: rgb(63, 26, 94);
}

body{ 
    background-color: var(--gato);
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.foto{width: 30%;}

.gaegu-bold {
    font-family: "Gaegu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gaegu-light {
    font-family: "Gaegu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  span{
    color:rgb(107, 15, 211);
  }

  .contagem-regressiva{
    text-align: center;
    margin-top: 50px 0;
  }

  .objetivos{
    padding: 5px;
    color:indigo;
  }