:root{--gato:#99ff91;

}

h3{
color: rgb(17, 103, 33);
}

body{ 
    background-color: var(--gato);
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.foto{width: 30%;}

.gaegu-bold {
    font-family: "Gaegu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gaegu-light {
    font-family: "Gaegu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  span{
    color:rgb(33, 179, 40);
  }